{% extends "tracker/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="max-w-xl mx-auto mt-10 p-6 rounded-lg shadow-md bg-gray-800">

  <h1 class="my-4 text-2xl font-bold tracking-tight text-white md:text-3xl lg:text-4xl">
    {% trans "Sign Up" %}
  </h1>

  <p class="mb-4 text-white">
      {% blocktrans %}Already have an account? Then please 
          <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" href="{{ login_url }}">sign in</a>.
      {% endblocktrans %}
  </p>

  <form id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}

    <div class="mb-4">
      <label class="block text-white mb-2" for="id_username">Username</label>
      {% render_field form.username class="w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-700 text-white" %}
      {% if form.username.errors %}
        <ul class="text-sm text-red-500">
            {% for error in form.username.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>

    <div class="mb-4">
      <label class="block text-white mb-2" for="id_password1">Password</label>
      {% render_field form.password1 class="w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-700 text-white" %}
      {% if form.password1.errors %}
        <ul class="text-sm text-red-500">
            {% for error in form.password1.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>

    <div class="mb-4">
      <label class="block text-white mb-2" for="id_password2">Password (again)</label>
      {% render_field form.password2 class="w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-700 text-white" %}
      {% if form.password2.errors %}
        <ul class="text-sm text-red-500">
            {% for error in form.password2.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
      <button class="mt-2 focus:outline-none text-white bg-[#73B769] hover:bg-[#56964a] focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" type="submit">
          {% trans "Sign Up" %}
      </button>
  </form>
</div>
{% endblock %}