body {
    background-image: linear-gradient(to right top, #e6f0f3, #d3e3ec, #bfd6e4, #a7c6db, #8db5d2) !important;

    background-color: #f8f8f8 !important;
    min-height: 100vh;
}


nav {
    color: white;
    background-color: #4b6670;
}





