{% load widget_tweaks %}
{% load partials %}
{% load humanize %}


<div class="p-6 mt-6 rounded-2xl" id="category-container">

    <!-- Nút thêm danh mục -->
    <div class="flex justify-end mb-4">
        <a 
            hx-get="{% url 'create-category' %}"
            hx-push-url="true"
            hx-target="#category-block"
            class="inline-flex items-center gap-2 bg-gray-800 hover:bg-green-700 text-white font-semibold px-4 py-2 rounded-xl shadow-md transition duration-300 ease-in-out"
        >
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
            </svg>
            <span>Add Category</span>
        </a>
    </div>

    <!-- Bảng danh sách -->
    <div class="overflow-x-auto rounded-lg border border-gray-700">
        <table class="min-w-full table-auto text-sm text-center text-gray-200 bg-gray-800 ">
            <thead class="text-xs uppercase bg-gray-900 text-white">
                <tr>
                    <th class="px-6 py-3">Category Name</th>
                    <th class="px-6 py-3">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for category in categories %}
                <tr class="border-t border-gray-700 hover:bg-gray-700 transition">
                    <td class="px-6 py-3">{{ category.name }}</td>
                    <td class="px-4 py-2r">
                        <!-- Nút cập nhật -->
                        <button 
                            hx-get="{% url 'update-category' category.pk %}"
                            hx-target="#category-block"
                            class="hover:text-red-400 transition btn btn-sm btn-primary btn-outline"
                            title="Edit"
                        >Edit
                            {% comment %} <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M16.862 4.487a2.1 2.1 0 1 1 2.97 2.97L6.75 20.54 3 21.75l1.21-3.75 12.652-12.513z" />
                            </svg> {% endcomment %}
                        </button>

                        <!-- Nút xóa -->
                        <button 
                            hx-delete="{% url 'delete-category' category.pk %}"
                            hx-confirm="Are you sure you want to delete this category?"
                            hx-target="#category-block"
                            class="hover:text-red-400 transition btn btn-sm btn-error btn-outline"
                            title="Delete"
                        >Delete
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="1" class="text-center py-4 text-gray-400">No categories available</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
